{% extends "base.html" %}
{% from './components/navbar.html' import navbar %}
{% block title %}Einstellungen{% endblock %}
{% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/settings/settings.css') }}"
        media="all"
    />
{% endblock %}
{% block content %}
    {{ navbar() }}

    <div class="app__settings-container">                    
        <h1>Einstellungen</h1>

        <!-- Fan speed -->
        <div class="container-fanGpio">
            <h3>Lüftergeschwindigkeit:</h3>
            <input
                id="fan"
                type="range"
                min="0"
                max="100"
                value="100"
                name="fan"
                class="fan__slider"
            />
        </div>
    </div>
{% endblock %}