{% extends "base.html" %}
{% block head %}
  {% block title %}Wetterdaten{% endblock %}
  <title>Wetterstation</title>
  <base href="/" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/graph.css') }}"
    media="all"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
    media="all"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/navbar.css') }}"
    media="all"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/classColors.css') }}"
    media="all"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/normalize.css') }}"
    media="all"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main.css') }}"
    media="all"
  />
{% endblock %}

{% block content %}
    <!-- Main content -->
    <main class="main" id="main">
      <div class="graphs-container">
        <!-- Temperature -->
        <div class="graph-container graph-temp">
          <div class="graph-header">
            <h2 class="color-red">▣ Temperatur:</h2>
            <div class="graph-header-readings">
              <div>
                <span id="temp">-</span>&deg;C &nbsp;⸱&nbsp;
                <span id="temp-f">-</span>&deg;F
              </div>
            </div>
          </div>
          <div class="graph-chart">
            <canvas id="graphChartTempInput" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Humidity -->
        <div class="graph-container graph-humi">
          <div class="graph-header">
            <h2 class="color-blue">▣ Feuchtigkeit:</h2>
            <div class="graph-header-readings">
              <div><span id="humi">-</span>%</div>
            </div>
          </div>
          <div class="graph-chart">
            <canvas id="graphChartHumiInput" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Pressure -->
        <div class="graph-container graph-pres">
          <div class="graph-header">
            <h2 class="color-green">▣ Druck:</h2>
            <div class="graph-header-readings">
              <div><span id="pres">-</span>&nbsp;hPa</div>
            </div>
          </div>
          <div class="graph-chart">
            <canvas id="graphChartPresInput" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Light -->
        <div class="graph-container graph-lux">
          <div class="graph-header">
            <h2 class="color-yellow">▣ Helligkeit:</h2>
            <div class="graph-header-readings">
              <div><span id="lux">-</span>&nbsp;lux</div>
            </div>
          </div>
          <div class="graph-chart">
            <canvas id="graphChartLuxInput" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Noise -->
        <div class="graph-container graph-noise">
          <div class="graph-header">
            <h2>Noise:</h2>
            <div class="graph-header-readings">
              <div>
                <span class="color-noise-high">▣ High</span>
                <span id="high">-</span>&nbsp;u
              </div>
              <div>
                <span class="color-noise-mid">▣ Mid</span>
                <span id="mid">-</span>&nbsp;u
              </div>
              <div>
                <span class="color-noise-low">▣ Low</span>
                <span id="low">-</span>&nbsp;u
              </div>
              <div>
                <span class="color-noise-amp">▣ Amp</span>
                <span id="amp">-</span>&nbsp;u
              </div>              
            </div>
          </div>

          <div class="graph-chart">
            <canvas id="graphChartNoiseInput" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Gas -->
        <div class="graph-container graph-gas">
          <div class="graph-header">
            <h2>Gase:</h2>
            <div class="graph-header-readings">
              <div>
                <span class="color-olive">▣ NH<sub>3</sub></span>
                <span id="nh3">-</span>&nbsp;kΩ
              </div>
              <div>
                <span class="color-violet">▣ Reducing</span>
                <span id="red">-</span>&nbsp;kΩ
              </div>
              <div>
                <span class="color-turquoise">▣ Oxidising</span>
                <span id="oxi">-</span>&nbsp;kΩ
              </div>
            </div>
          </div>

          <div class="graph-chart">
            <canvas id="graphChartGasInput" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Particulate matter -->
        <div class="graph-container graph-pm">
          <div class="graph-header">
            <h2>Particulate matter:</h2>
            <div class="graph-header-readings">
              <div>
                <span class="color-pmColor10">▣ PM<sub>1.0</sub></span>
                <span id="pm10">-</span>μg/m<sup>3</sup>
              </div>
              <div>
                <span class="color-pmColor25">▣ PM<sub>2.5</sub></span>
                <span id="pm25">-</span>μg/m<sup>3</sup>
              </div>
              <div>
                <span class="color-pmColor100">▣ PM<sub>10.0</sub></span>
                <span id="pm100">-</span>μg/m<sup>3</sup>
              </div>
            </div>
          </div>

          <div class="graph-chart">
            <canvas id="graphChartPmInput" class="loading-spinner"></canvas>
          </div>
        </div>
      </div>
    </main>
{% endblock %}  

<!-- Javascript -->
{% block code %}
  <script src={{url_for('static', filename='js/chart-test.js')}}></script>
  <script src={{ url_for('static', filename='js/chart.min.js') }}></script>
  <script src={{ url_for('static', filename='js/chartjs-adapter-date-fns.bundle.min.js')}}></script>
{% endblock %}
