{% macro TableRow(data) %}
<tr class="measurement_row">
    <td class="date ellipsis">
        {{ data["entry_date"] }}
    </td>
    <td class="temperature entry">
        {{ data["temp"] }}°C
    </td>
    <td class="humidity entry">
        {{ data["humi"] }}%
    </td>
    <td class="pressure entry">
        {{ data["pres"] }}hPa
    </td>
    <td class="light entry">
        {{ data["lux"] }}lux
    </td>
</tr>
{% endmacro %}

{% macro SingleEntry(date, data, gas) %}
    <h3>Datum: {{ date }}</h3>
    <p>Temperatur: {{ data["temp"] }}°C</p>
    <p>Luftfeuchtigkeit: {{ data["humi"] }}%</p>
    <p>Helligkeit: {{ data["lux"] }}lux</p>
    {% if data_gas %}
        <p>Gase: {{ gas }}</p>
    {% endif %}
    {% if avg_day %}
        <h3 style="padding: 1rem;">Durchschnitt des Tages</h3>
        <div style="display:flex;flex-wrap:wrap">
            {% for entry in avg_day %}
                <div style="padding: 1rem;">
                    <p>Zeit: {{ entry["entry_date"].split(" ")[1] }}</p>
                    <p>Temperatur: {{ entry["avg_temp"] }}</p>
                    <p>Luftfeuchtigkeit: {{ entry["avg_humi"] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro CreateTable(data) %}
    <table class="messungen__table">
        <caption>Messungen für <span style="font-style: italic;">'{{ date }}'</span></caption>
        <thead id="messungen-table-heading">
            <th>Datum:</th>
            <th>Temperatur:</th>
            <th class="ellipsis">Luftfeuchtigkeit:</th>
            <th>Luftdruck:</th>
            <th>Helligkeit:</th>
        </thead>
        <tbody>
            {% for entry in data %}
                {{ TableRow(entry) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% extends "base/base.html" %}
{% from "components/inputs/TimeSelect.html" import select %}
{% from "svgs/chart.html" import chartThin as chartIcon %}
{% from "svgs/list.html" import listIcon %}


{% block title %}| Messungen {% endblock title %}
{% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/graph.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/info-popup.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/messungen.css') }}"
    />

    <style>
        .controls {
            --label-color: #e6e6e6;
            --border-color: #c2c2c2;

            --controls-border-color: #969696;

            width: 100%;
            height: 4.5rem;
            display: flex;
            padding: 0.5rem;
            position: relative;
            justify-content: space-between;
            border-bottom: 1px solid var(--controls-border-color);
            background-color: white;
        }
        
        .controls .left {
            display: flex;
            gap: 0.5rem;
        }

        .controls .input-container {
            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr;
        }

        .controls .input-container label {
            background-color: rgb(223, 223, 223);
            background-color: var(--label-color);
            border-radius: 5px 5px 0 0;
            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            padding: 0.1rem 0.4rem;
            font-size: 0.8rem;
        }

        .controls .input-container select,
        .controls .input-container input {
            padding: 0 1rem 0 0.2rem;
            border-radius: 0 0 5px 5px;
            border: 1px solid var(--border-color);
            height: 100%;
        }
        
        .controls .divider {
            height: 100%;
            width: 1px;
            background-color: rgba(121, 121, 121, 0.488);
        }
        
        .controls .time-range-date {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            flex-direction: column;
        }

        .controls .time-range-date div label {
            border-radius: 3px 0 0 3px;
            font-size: 0.8rem;
            border: 1px solid var(--border-color);
            background-color: var(--label-color);
            display: flex;
            padding: 0.2rem;
            align-items: center;
            justify-content: center;
        }
        
        .controls .active-label {
            background-color: rgb(222, 240, 255) !important;
        }

        .controls .time-range-date div {
            height: 100%;
            width: 100%;
            display: flex;
            overflow: hidden;
        }
        
        .controls .time-range-date div input {
            padding: 0.2rem;
            border-radius: 2px;
            border: 1px solid var(--border-color);
            border-left: none;
        }
        
        .controls .right .view-select {
            display: flex;
            gap: 0.2rem;
            padding: 0.2rem;
            border: 1px solid var(--controls-border-color);
            border-top: none;
            grid-template-rows: 1fr 1fr;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            border-radius: 0 0 0 5px;
        }

        .controls .right .view-select button {
            width: 2rem;
            height: 2rem;
            color: grey;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid grey;
            padding: 0.2rem;
            border-radius: 5px;
        }
    </style>
{% endblock styles %}
{% block titlebarHeading %}Messungen{% endblock titlebarHeading %}

{% block content %}
    <div class="messungs__container">
        <div class="controls">
            <div class="time-filter left" onchange="filter_change(event)">
                <div class="input-container" id="container-time-range-select">
                    <label for="time-range-select" class="active-label">Zeitraum:</label>
                    <select
                        data-default="empty" name="time"
                        id="time-range-select"
                        data-container="time-range-select"
                    >
                        <option value="today">Heute</option>
                        <option value="1d">1 Tag</option>
                        <option value="1w">1 Woche</option>
                        <option value="1m">1 Monat</option>
                        <option value="1y">1 Jahr</option>
                        <option value="empty" disabled hidden>--.--</option>
                    </select>
                </div>
                <div class="divider"></div>
                <div class="input-container" id="container-date">
                    <label for="date">Datum:</label>
                    <input type="date" id="date" data-container="date">
                </div>
                <div class="divider"></div>
                <div class="time-range-date">
                    <div id="container-from">
                        <label for="von">Von:</label>
                        <input type="date" data-container="from">
                    </div>
                    <div id="container-to">
                        <label for="bis">Bis:</label>
                        <input type="date" data-container="to">
                    </div>
                </div>
            </div>
            <div class="view-filter right">
                <div class="view-select">
                    <button title="Graphen Ansicht">{{ chartIcon() }}</button>
                    <button title="Listen Ansicht">{{ listIcon() }}</button>
                </div>
            </div>
        </div>
        {% if entry_data and date %}
            {% if type == "content-table" %}
                {{ CreateTable(entry_data) }}
            {% elif type == "content-entry" %}
                {{ SingleEntry(date, entry_data[0], entry_gas[0]) }}
                {% if graph %}
                    <!-- <img style="width: 100%;max-width:500px" src="data:image/svg;base64,{{ graph }}"> -->
                {% endif %}

            {% endif %}
        {% else %}
            <h1>Keine Daten vorhanden!</h1>
        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
    {% if type == "content-table" %}
        <script>
            const tableHeading = document.querySelector("#messungen-table-heading")
            const observer = new IntersectionObserver(
                ([e]) => e.target.classList.toggle("sticking", e.intersectionRatio < 1),
                { threshold: [1] }
            )
            observer.observe(tableHeading)
        </script>
    {% endif %}
    <script>
        const timeFilter = document.querySelector(".controls .time-filter")
        let activeInput = document.getElementById("time-range-select")
        let activeContainer

        function get_container(container=document, nameElement) {
            const containerName = nameElement.dataset["container"]
            return container.querySelector("#container-"+containerName)
        }

        function filter_change(e) {
            activeContainer = get_container(timeFilter, activeInput)
            if (activeInput != e.target) {
                console.log(true)
                const default_value = activeInput.dataset["default"]
                if (default_value) {
                    activeInput.value = default_value
                } else {
                    activeInput.value = ""
                }
            }

            activeContainer.querySelector("label")
                .classList.remove("active-label")
            
            activeInput = e.target
            activeContainer = get_container(timeFilter, activeInput)
            activeContainer.querySelector("label")
                .classList.add("active-label")
            console.log(activeInput)
        }
    </script>
    <!-- <script src={{ url_for('static', filename='js/build/dashboard.chart.js') }}></script> -->
{% endblock scripts %}