{% extends "base/base.html" %}
{% from "components/inputs/TimeSelect.html" import select %}
{% from "svgs/chart.html" import chartThin as chartIcon %}
{% from "svgs/calendar.html" import calendar as calendarIcon %}
{% from "svgs/list.html" import ListIcon %}
{% from "components/spinner.html" import spinner %}

{% block title %}| Messungen {% endblock title %}
{% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/chart.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/info-popup.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/messungen.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/data-table.css') }}"
    />
{% endblock styles %}
{% block titlebarHeading %}Messungen{% endblock titlebarHeading %}

{% block content %}
    <div class="main-container">
        <div class="controls">
            <div class="time-filter left" onchange="filter_change(event)">
                <div class="input-container" id="container-time-range-select">
                    <label class="active-label" for="time-range-select">Zeitraum:</label>
                    <select
                        data-default="empty"
                        name="range"
                        id="time-range-select"
                        data-container="time-range-select"
                    >
                        <option value="1d">Heute</option>
                        <option value="1w">1 Woche</option>
                        <option value="1m">1 Monat</option>
                        <option value="1y">1 Jahr</option>
                        <option value="empty" disabled hidden>--.--</option>
                    </select>
                </div>
                <div class="divider"></div>
                <div class="input-container" id="container-date">
                    <label for="date">Datum:</label>
                    <input
                        type="date"
                        id="date"
                        name="date"
                        data-container="date"
                    >
                </div>
                <div class="divider"></div>
                <div
                    class="time-range-date"
                    id="container-time-range"
                >
                    <div>
                        <label for="from-input">Von:</label>
                        <input
                            type="date"
                            id="from-input"
                            data-container="time-range"
                            name="from"
                        >
                    </div>
                    <div>
                        <label for="to-input">Bis:</label>
                        <input
                            id="to-input"
                            type="date"
                            data-container="time-range"
                            name="to"
                        >
                    </div>
                </div>
            </div>
            {# 
                <div class="view-filter right">
                <div class="view-select">
                    <button title="charten Ansicht">{{ chartIcon() }}</button>
                    <button title="Listen Ansicht">{{ listIcon() }}</button>
                </div>
            </div>
            #}
        </div>
        <div class="messungen-container">
            <div class="data-table">
                <div class="top">
                    <div class="date">
                        <div class="icon">
                            {{ calendarIcon() }}
                        </div>
                        <h2>{{query}}</h2>
                    </div>
                    <div class="info">
                        <p>Letzte Messung: {{ last_entry|date_format }}</p>
                        <p>Messungen Insgesamt: {{ messungen }}</p>
                    </div>
                </div>
                <div style="display:flex;gap:1rem;">
                    {% if not entry_data %}
                        <p>Keine Daten vorhanden!</p>
                    {% else %}
                        <div>
                            <h3>Temperatur:</h3>
                            <div>
                                <h4>Höchste: {{ extrema["max_temp"]["temp"] }}°C</h4>
                                <p>am {{ extrema["max_temp"]["date"]|date_format }}</p>
                            </div>
                            <div>
                                <h4>Niedrigste: {{ extrema["min_temp"]["temp"] }}°C</h4>
                                <p>am {{ extrema["min_temp"]["date"]|date_format }}</p>
                            </div>
                        </div>
                        <div>
                            <h3>Luftfeuchtigkeit</h3>
                            <div>
                                <h4>Höchste: {{ extrema["max_humi"]["humi"] }}%</h4>
                                <p>am {{ extrema["max_humi"]["date"]|date_format }}</p>
                            </div>
                            <div>
                                <h4>Niedrigste: {{ extrema["min_humi"]["humi"] }}%</h4>
                                <p>am {{ extrema["min_humi"]["date"]|date_format }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="chart__container">
                <div class="header chart-header-temperature">
                    <h1>Temperatur<span>in °C</span></h1>
                </div>
                <div class="chart" id="temp-container"></div>
            </div>
            <div class="chart__container">
                <div class="header chart-header-humidity">
                    <h1>Luftfeuchtigkeit<span>in %</span></h1>
                </div>
                <div class="chart" id="humi-container"></div>
            </div>
            <div class="chart__container">
                <div class="header chart-header-particles">
                    <h1>Feinstaub<span>in &#181;g/m<sup>3</sup></span></h1>
                </div>
                <div class="chart" id="particles-container"></div>
            </div>

            {% if entry_data and date %}
                {% if type == "content-table" %}
                    {{ CreateTable(entry_data) }}
                {% elif type == "content-entry" %}
                    {{ SingleEntry(date, entry_data[0], entry_gas[0]) }}
                    {% if chart %}
                        <!-- <img style="width: 100%;max-width:500px" src="data:image/svg;base64,{{ chart }}"> -->
                    {% endif %}
    
                {% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% if type == "content-table" %}
        <script>
            const tableHeading = document.querySelector("#messungen-table-heading")
            const observer = new IntersectionObserver(
                ([e]) => e.target.classList.toggle("sticking", e.intersectionRatio < 1),
                { threshold: [1] }
            )
            observer.observe(tableHeading)
        </script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/libs/d3.v7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build/wetterchart.js') }}"></script>

    <script>
        wetterchart.setDE()

        drawCharts().then(charts => {

            fetch("/api/wetterdaten"+window.location.search)
                .then(res => res.json())
                .then(json => {
                    const data = json.data

                    if (data.length < 3) {
                        console.log("not enough data")
                        return
                    }
                    charts.forEach(chart => {
                        chart.hide()
                        chart.spinner.show()
                    })
                    
                    charts.forEach(chart => chart.load(data))
                })

            //select.init((value) => updatecharts(charts, value))
            document.addEventListener("filter:change", (event) => {
                console.log(window.location)
                const url = new URL("/messungen", window.location.origin)
                const api_url = new URL("/api/wetterdaten", window.location.origin)
                
                const keys = Object.keys(event.detail)
                for (idx in Object.keys(event.detail)) {
                    const key = keys[idx]
                    url.searchParams.set(key, event.detail[key])
                    api_url.searchParams.set(key, event.detail[key])
                }

                history.pushState({}, "", url)
                fetch(api_url)
                .then(res => res.json())
                .then(json => {
                    const data = json.data
                    
                    charts.forEach(chart => {
                        chart.hide()
                        chart.spinner.show()
                    })
                    
                    charts.forEach(chart => chart.load(data))
                    
                })

            })
        }).catch(error => {
            console.error(error)
            NewFlashedMessage("Fehler beim laden von Daten", "error")
        })
        
        async function drawCharts() {
            //let data = await wetterchart.FetchData("year", "2024")
            const chart_temp = wetterchart.LineChart({
                id: "svg-chart-temp",
                container: "#temp-container",
                color: ["#ff8080"],
                x: "date",
                y: ["temp"],
                timeFormat: "%Y-%m-%d %H:%M:%S",

                axis: {
                    x: {...wetterchart.DEFAULT_X_FORMAT_1Y},
                    y: {
                        unit: "°C",
                        ticks: 6,
                        tickFormat: wetterchart.TICK_FORMAT,
                        domain: wetterchart.DEFAULT_TEMP_DOMAIN
                    }
                }
            })

            const chart_humi = wetterchart.LineChart({
                id: "svg-chart-humi",
                container: "#humi-container",
                color: ["#0177c0"],
                x: "date",
                y: ["humi"],
                timeFormat: "%Y-%m-%d %H:%M:%S",
                area: true,
                gradient: true,
                
                axis: {
                    x: {...wetterchart.DEFAULT_X_FORMAT_1Y},
                    y: {
                        unit: "%",
                        ticks: 6,
                        tickFormat: wetterchart.TICK_FORMAT,
                        domain: wetterchart.DEFAULT_HUMI_DOMAIN
                    }
                }
            })
            
            const chart_particles = wetterchart.LineChart({
                id: "svg-chart-particles",
                container: "#particles-container",
                color: ["#EAE4DD", "#E1D7C6", "#CDC2A5"].reverse(),//["#9AA6B2", "#BCCCDC", "#D9EAFD"].reverse(),//["#09bff7", "#0099c8", "#0083e0"].reverse(),
                x: "date",
                colors: {
                    pm_10: "#EAE4DD",
                    pm_25: "#E1D7C6",
                    pm_100: "#CDC2A5"
                },
                y: ["pm_10", "pm_25", "pm_100"].reverse(),
                timeFormat: "%Y-%m-%d %H:%M:%S",

                area: true,
                gradient: false,
                is_line: true,

                axis: {
                    x: {...wetterchart.DEFAULT_X_FORMAT_1Y},
                    y: {
                        unit: "&#181;g/m<sup>3</sup></span>",
                        ticks: 6,
                        tickFormat: function () {return (d) => d},
                        domain: wetterchart.DEFAULT_PARTICLE_DOMAIN
                    }
                }
            })
            
            return [chart_temp, chart_humi, chart_particles]
        }
    </script>

    <script>
        // code for the controls/time filters
        const timeFilter = document.querySelector(".controls .time-filter")
        let activeInputs = [document.getElementById("time-range-select")]
        let activeContainer

        function get_container(container=document, nameElement) {
            const containerName = nameElement.dataset["container"]
            return container.querySelector("#container-"+containerName)
        }

        function filter_change(e) {
            activeContainer = get_container(timeFilter, activeInputs[0])
            activeInputs.forEach(input => {
                if (input != e.target && !activeContainer.contains(e.target)) {
                    const default_value = input.dataset["default"]
                    if (default_value) {
                        input.value = default_value
                    } else {
                        input.value = ""
                    }
                }
            })
            
            activeContainer.querySelectorAll("label")
                .forEach(label => {label.className = ""})
            
            if (activeContainer.contains(e.target)) {
                activeInputs.push(e.target)
            } else {
                activeInputs = [e.target]
            }

            let change = true

            activeContainer = get_container(timeFilter, e.target)
            activeContainer.querySelectorAll("label")
            .forEach(label => {
                const forAttribute = label.getAttribute("for")
                const inputForLabel = activeContainer.querySelector("#"+forAttribute)
                if (inputForLabel.value != "") {
                    label.classList.add("active-label")
                } else {
                    change = false // input missing so don't change anything
                    label.classList.add("error-label")
                }
            })

            if (change) {
                const filter_inputs = {}
                activeInputs.map(input => {
                    return {
                        name: input.name,
                        value: input.value
                    }
                }).forEach(input => {
                    filter_inputs[input.name] = input.value
                })

                // checks for valid dates
                const input_names = Object.keys(filter_inputs)
                if (input_names.includes("date")) {
                    const date = new Date(filter_inputs["date"])
                    if (typeof(date) == "string") {
                        NewFlashedMessage(`'${filter_inputs['date']}' ist kein zulässiges Datum!`, "error")
                        return
                    }

                    if (new Date() < date) {
                        NewFlashedMessage("'Datum' darf nicht in der Zukunft liegen!", "error")
                        return
                    }
                }

                if (input_names.includes("to") || input_names.includes("from")) {
                    const to = new Date(filter_inputs["to"])
                    const from = new Date(filter_inputs["from"])

                    const today = new Date()
                    if (to < from) {
                        NewFlashedMessage("'Von' Datum darf nicht nach 'Bis' sein!", "error")
                        return
                    }

                    if (to > today) {
                        NewFlashedMessage("'Bis' darf nicht in der Zukunft liegen!", "error")
                        return
                    }
                }

                document.dispatchEvent(
                    new CustomEvent("filter:change", {
                        bubbles: true,
                        detail: filter_inputs 
                    })
                )
            }
        }
    </script>
    
{% endblock scripts %}