{% macro TableRow(data) %}
<tr class="measurement_row">
    <td class="date ellipsis">
        {{ data["entry_date"]|date_format }}
    </td>
    <td class="temperature entry">
        {{ data["temp"] }}°C
    </td>
    <td class="humidity entry">
        {{ data["humi"] }}%
    </td>
    <td class="pressure entry">
        {{ data["pres"] }}hPa
    </td>
    <td class="light entry">
        {{ data["lux"] }}lux
    </td>
</tr>
{% endmacro %}

{% macro SingleEntry(date, data, gas) %}
    <h3>Datum: {{ date }}</h3>
    <p>Temperatur: {{ data["temp"] }}°C</p>
    <p>Luftfeuchtigkeit: {{ data["humi"] }}%</p>
    <p>Helligkeit: {{ data["lux"] }}lux</p>
    {% if data_gas %}
        <p>Gase: {{ gas }}</p>
    {% endif %}
    {% if avg_day %}
        <h3 style="padding: 1rem;">Durchschnitt des Tages</h3>
        <div style="display:flex;flex-wrap:wrap">
            {% for entry in avg_day %}
                <div style="padding: 1rem;">
                    <p>Zeit: {{ entry["entry_date"].split(" ")[1] }}</p>
                    <p>Temperatur: {{ entry["avg_temp"] }}</p>
                    <p>Luftfeuchtigkeit: {{ entry["avg_humi"] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro CreateTable(data) %}
    <table class="messungen-table">
        <caption>Messungen für <span style="font-style: italic;">'{{ date }}'</span></caption>
        <thead id="messungen-table-heading">
            <th>Datum:</th>
            <th>Temperatur:</th>
            <th class="ellipsis">Luftfeuchtigkeit:</th>
            <th>Luftdruck:</th>
            <th>Helligkeit:</th>
        </thead>
        <tbody>
            {% for entry in data %}
                {{ TableRow(entry) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% extends "base/base.html" %}
{% from "components/inputs/TimeSelect.html" import select %}
{% from "svgs/chart.html" import chartThin as chartIcon %}
{% from "svgs/calendar.html" import calendar as calendarIcon %}
{% from "svgs/list.html" import listIcon %}
{% from "components/spinner.html" import spinner %}

{% block title %}| Messungen {% endblock title %}
{% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/graph.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/info-popup.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/messungen.css') }}"
    />

    <style>
        .controls {
            --label-color: #e6e6e6;
            --border-color: #c2c2c2;
            --controls-border-color: #969696;

            width: 100%;
            height: 4.5rem;
            display: flex;
            padding: 0.5rem;
            position: relative;
            justify-content: space-between;
            border-bottom: 1px solid var(--controls-border-color);
            background-color: white;
        }
        
        .controls .left {
            display: flex;
            gap: 0.5rem;
        }

        .controls .input-container {
            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr;
        }

        .controls .input-container label {
            background-color: rgb(223, 223, 223);
            background-color: var(--label-color);
            border-radius: 5px 5px 0 0;
            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            padding: 0.1rem 0.4rem;
            font-size: 0.8rem;
        }

        .controls .input-container select,
        .controls .input-container input {
            padding: 0 1rem 0 0.2rem;
            border-radius: 0 0 5px 5px;
            border: 1px solid var(--border-color);
            height: 100%;
        }
        
        .controls .divider {
            height: 100%;
            width: 1px;
            background-color: rgba(121, 121, 121, 0.488);
        }
        
        .controls .time-range-date {
            height: 100%;
            display: grid;
            flex-direction: column;
            grid-template-rows: 1fr 1fr;
        }

        .controls .time-range-date div {
            height: 100%;
            width: 100%;
            display: flex;
            overflow: hidden;
        }

        .controls .time-range-date div input {
            flex: 1;
        }

        .controls .time-range-date div label {
            border-radius: 3px 0 0 3px;
            font-size: 0.8rem;
            border: 1px solid var(--border-color);
            background-color: var(--label-color);
            display: flex;
            padding: 0.2rem;
            align-items: center;
            justify-content: center;
        }
        
        .controls .active-label {
            background-color: rgb(222, 240, 255) !important;
        }
        
        .controls .error-label {
            background-color: rgb(255, 222, 222) !important;
        }
        
        .controls .time-range-date div input {
            padding: 0.2rem;
            border-radius: 2px;
            border: 1px solid var(--border-color);
            border-left: none;
        }
        
        .controls .right .view-select {
            display: flex;
            gap: 0.2rem;
            padding: 0.2rem;
            border: 1px solid var(--controls-border-color);
            border-top: none;
            grid-template-rows: 1fr 1fr;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            border-radius: 0 0 0 5px;
        }

        .controls .right .view-select button {
            width: 2rem;
            height: 2rem;
            color: grey;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid grey;
            padding: 0.2rem;
            border-radius: 5px;
        }

        .data-container {
            padding: 0.5rem;
        }

        .data-table {
            width: 60%;
            width: 100%;
            padding: 1rem;
            max-width: 35rem;
            border-radius: 5px;
            border: 1px solid rgb(196, 196, 196);
            background-color: white;
        }

        .data-table .date {
            gap: 0.5rem;
            display: flex;
        }

        .data-table .top {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.462);
            justify-content: space-between;
        }

        .data-table .top .info {
            font-size: 0.8rem;
        }

        .data-table .date .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    </style>
{% endblock styles %}
{% block titlebarHeading %}Messungen{% endblock titlebarHeading %}

{% block content %}
    <div class="main-container" data-wetter="">
        <div class="controls">
            <div class="time-filter left" onchange="filter_change(event)">
                <div class="input-container" id="container-time-range-select">
                    <label class="active-label" for="time-range-select">Zeitraum:</label>
                    <select
                        data-default="empty"
                        name="range"
                        id="time-range-select"
                        data-container="time-range-select"
                    >
                        <option value="1d">Heute</option>
                        <option value="1w">1 Woche</option>
                        <option value="1m">1 Monat</option>
                        <option value="1y">1 Jahr</option>
                        <option value="empty" disabled hidden>--.--</option>
                    </select>
                </div>
                <div class="divider"></div>
                <div class="input-container" id="container-date">
                    <label for="date">Datum:</label>
                    <input
                        type="date"
                        id="date"
                        name="date"
                        data-container="date"
                    >
                </div>
                <div class="divider"></div>
                <div
                    class="time-range-date"
                    id="container-time-range"
                >
                    <div>
                        <label for="from-input">Von:</label>
                        <input
                            type="date"
                            id="from-input"
                            data-container="time-range"
                            name="from"
                        >
                    </div>
                    <div>
                        <label for="to-input">Bis:</label>
                        <input
                            id="to-input"
                            type="date"
                            data-container="time-range"
                            name="to"
                        >
                    </div>
                </div>
            </div>
            <!-- <div class="view-filter right">
                <div class="view-select">
                    <button title="Graphen Ansicht">{{ chartIcon() }}</button>
                    <button title="Listen Ansicht">{{ listIcon() }}</button>
                </div>
            </div> -->
        </div>
        <div class="messungen-container">
            <div class="data-table">
                <div class="top">
                    <div class="date">
                        <div class="icon">
                            {{ calendarIcon() }}
                        </div>
                        <h2>{{query}}</h2>
                    </div>
                    <div class="info">
                        <p>Letzte Messung: {{ last_entry|date_format }}</p>
                        <p>Messungen Insgesamt: {{ messungen }}</p>
                    </div>
                </div>
                <div class="">
                    {% if not entry_data %}
                        <p>Keine Daten vorhanden!</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>
            <div class="graph__container">
                <div class="header graph-header-temperature">
                    <h1>Temperatur<span>in °C</span></h1>
                </div>
                <div class="graph" id="temp-container">
                </div>
            </div>
            <div class="graph__container">
                <div class="header graph-header-humidity">
                    <h1>Luftfeuchtigkeit<span>in %</span></h1>
                </div>
                <div class="graph" id="humi-container">
                </div>
            </div>
            {% if entry_data and date %}
                {% if type == "content-table" %}
                    {{ CreateTable(entry_data) }}
                {% elif type == "content-entry" %}
                    {{ SingleEntry(date, entry_data[0], entry_gas[0]) }}
                    {% if graph %}
                        <!-- <img style="width: 100%;max-width:500px" src="data:image/svg;base64,{{ graph }}"> -->
                    {% endif %}
    
                {% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% if type == "content-table" %}
        <script>
            const tableHeading = document.querySelector("#messungen-table-heading")
            const observer = new IntersectionObserver(
                ([e]) => e.target.classList.toggle("sticking", e.intersectionRatio < 1),
                { threshold: [1] }
            )
            observer.observe(tableHeading)
        </script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/libs/d3.v7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build/wetterchart.js') }}"></script>

    <script>
        const parseDate = d3.timeParse("%Y-%m-%dT%H:%M")

        drawCharts().then(graphs => {
            console.log(graphs)
            //select.init((value) => updateGraphs(graphs, value))
            document.addEventListener("filter:change", (event) => {
                console.log(event)
                //updateGraphs(graphs, event.detail)
            })
        }).catch(error => {
            console.error(error)

            document.querySelector(".flashed-messages").appendChild(
                NewFlashedMessage("Fehler beim laden von Daten", "error")
            )
        })
        
        async function drawCharts() {
            //let data = await wetterchart.FetchData("year", "2024")
            //console.log(data)
            const graph_temp = wetterchart.LineChart({
                id: "svg-graph-temp",
                container: "#temp-container",
                color: "#ff8080",
                x: "entry_date",
                y: "temp",
                timeFormat: "%Y-%m-%dT%H:%M",

                axis: {
                    x: {...wetterchart.X_FORMAT_1Y},
                    y: {
                        unit: "°C",
                        ticks: 6,
                        tickFormat: wetterchart.TICK_FORMAT,
                        domain: wetterchart.DEFAULT_TEMP_DOMAIN
                    }
                }
            })

            const graph_humi = wetterchart.LineChart({
                id: "svg-graph-humi",
                container: "#humi-container",
                color: "#0177c0",
                x: "entry_date",
                y: "humi",
                timeFormat: "%Y-%m-%dT%H:%M",

                axis: {
                    x: {...wetterchart.X_FORMAT_1Y},
                    y: {
                        unit: "%", 
                        ticks: 6,
                        tickFormat: wetterchart.TICK_FORMAT,
                        domain: wetterchart.DEFAULT_HUMI_DOMAIN
                    }
                }
            })

            d3.csv("/messungen/1year-2.csv")
            .then(data => data.map(row => {
                return {
                    entry_date: row.entry_date,
                    temp: +row.temp,
                    humi: +row.rh
                }
            }))
            .then(data => {
                graph_temp.load(data)
                graph_humi.load(data)
            })
            
            return [graph_temp, graph_humi]
            //if (null) {
            //    throw new Error("fehler beim laden von daten")
            //}

            
        }
    </script>

    <script>
        const timeFilter = document.querySelector(".controls .time-filter")
        let activeInputs = [document.getElementById("time-range-select")]
        let activeContainer

        function get_container(container=document, nameElement) {
            const containerName = nameElement.dataset["container"]
            return container.querySelector("#container-"+containerName)
        }

        function filter_change(e) {
            activeContainer = get_container(timeFilter, activeInputs[0])
            activeInputs.forEach(input => {
                if (input != e.target && !activeContainer.contains(e.target)) {
                    const default_value = input.dataset["default"]
                    if (default_value) {
                        input.value = default_value
                    } else {
                        input.value = ""
                    }
                }
            })
            
            activeContainer.querySelectorAll("label")
            .forEach(label => {label.className = ""})
            
            if (activeContainer.contains(e.target)) {
                activeInputs.push(e.target)
            } else {
                activeInputs = [e.target]
            }

            let change = true

            activeContainer = get_container(timeFilter, e.target)
            activeContainer.querySelectorAll("label")
            .forEach(label => {
                const forAttribute = label.getAttribute("for")
                const inputForLabel = activeContainer.querySelector("#"+forAttribute)
                if (inputForLabel.value != "") {
                    label.classList.add("active-label")
                } else {
                    change = false // input missing so don't change anything
                    label.classList.add("error-label")
                }
            })

            if (change) {
                const filter_inputs = {}
                activeInputs.map(input => {
                    return {
                        name: input.name,
                        value: input.value
                    }
                }).forEach(input => {
                    filter_inputs[input.name] = input.value
                })
                console.log(filter_inputs)

                document.dispatchEvent(
                    new CustomEvent("filter:change", {
                        bubbles: true,
                        detail: filter_inputs 
                    })
                )
            }
        }
    </script>
    
{% endblock scripts %}