{% extends "base/dashboard.base.html" %}
{% from "components/sidebar.html" import sidebar %}
{% from "components/inputs/TimeSelect.html" import select %}
{% block title %}| Messungen {% endblock title %}
{% block styles %}
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/dashboard/select.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/graph.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/info-popup.css')}}
    />
{% endblock styles %}
{% block root %}
    {{ sidebar(active_content) }}
    <div class="content">
        <h1>Messungen</h1>
        <!-- <div class="content-top">
            {{ select() }}
        </div>
        <div class="content-bottom" id="dashboard-right-bottom">
            <div class="graph__container" id="temp-container"></div>
            <div class="graph__container" id="humi-container"></div>
        </div> -->
    </div>
{% endblock root %}
{% block code %}
    <script src={{ url_for('static', filename='js/build/dashboard.chart.js') }}></script>
{% endblock code %}