{% extends "base/base.html" %}
{% from "components/entrys.html" import entrys %}
{% from "components/live-readings.html" import liveReadings %}
{% from "components/spinner.html" import spinner %}

{% block title %}| Dashboard{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href={{ url_for('static', filename='css/graph.css') }}>
{% endblock styles %}

{% block titlebarHeading %}Dashboard{% endblock titlebarHeading %}

{% block content %}
    <div class="content">
        <div
            class="dashboard__graphs"
            id="graphs-container"
        >
            <div class="graph__container" id="temp-container">
                {{ spinner() }}
            </div>
            <div class="graph__container" id="humi-container">
                {{ spinner() }}
            </div>
        </div>
    </div>
{% endblock content %}
    
{% block scripts %}
    <script
        src="{{ url_for('static', filename='js/libs/socket.io.min.js') }}"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/libs/d3.v7.min.js') }}"></script>
    <script src={{ url_for('static', filename='js/build/dashboard.js') }}></script>
{% endblock scripts %}