{% macro MessungsRow(data) %}
    <tr class="measurement_row">
        <td class="date ellipsis">
            {{ data["entry_date"] }}
        </td>
        <td class="temperature entry">
            {{ data["temp"] }}°C
        </td>
        <td class="humidity entry">
            {{ data["humi"] }}%
        </td>
        <td class="pressure entry">
            {{ data["pres"] }}hPa
        </td>
        <td class="light entry">
            {{ data["lux"] }}lux
        </td>
    </tr>
{% endmacro %}

{% extends "base/dashboard.base.html" %}
{% from "components/sidebar.html" import sidebar %}
{% from "components/dashboard-navbar.html" import DashboardNavbar %}
{% from "components/inputs/TimeSelect.html" import select %}
{% block title %}| Messungen {% endblock title %}
{% block styles %}
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/graph.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/info-popup.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/messungen.css')}}
    />
{% endblock styles %}
{% block root %}
    {{ sidebar() }}
    {{ DashboardNavbar("Messungen") }}
    <div class="content">
        <div class="messungs__container">
            {% if entry_data and date %}
            <table class="messungen__table">
                <caption>Messungen für <span style="font-style: italic;">'{{ date }}'</span></caption>
                <thead>
                    <th>Datum:</th>
                    <th>Temperatur:</th>
                    <th class="ellipsis">Luftfeuchtigkeit:</th>
                    <th>Luftdruck:</th>
                    <th>Helligkeit:</th>
                </thead>
                <tbody>
                    {% for entry in entry_data %}
                        {{ MessungsRow(entry) }}
                    {% endfor %}
                </tbody>
            </table>
            {%  else %}
                <h1>Keine Daten vorhanden!</h1>
            {% endif %}
        </div>
    </div>
{% endblock root %}
{% block code %}
    <!-- <script src={{ url_for('static', filename='js/build/dashboard.chart.js') }}></script> -->
{% endblock code %}