{% macro TableRow(data) %}
<tr class="measurement_row">
    <td class="date ellipsis">
        {{ data["entry_date"] }}
    </td>
    <td class="temperature entry">
        {{ data["temp"] }}°C
    </td>
    <td class="humidity entry">
        {{ data["humi"] }}%
    </td>
    <td class="pressure entry">
        {{ data["pres"] }}hPa
    </td>
    <td class="light entry">
        {{ data["lux"] }}lux
    </td>
</tr>
{% endmacro %}

{% macro SingleEntry(date, data, gas) %}
    <h3>Datum: {{ date }}</h3>
    <p>Temperatur: {{ data["temp"] }}°C</p>
    <p>Luftfeuchtigkeit: {{ data["humi"] }}%</p>
    <p>Helligkeit: {{ data["lux"] }}lux</p>
    {% if data_gas %}
        <p>Gase: {{ gas }}</p>
    {% endif %}
    {% if avg_day %}
        <h3 style="padding: 1rem;">Durchschnitt des Tages</h3>
        <div style="display:flex;flex-wrap:wrap">
            {% for entry in avg_day %}
                <div style="padding: 1rem;">
                    <p>Zeit: {{ entry["entry_date"].split(" ")[1] }}</p>
                    <p>Temperatur: {{ entry["avg_temp"] }}</p>
                    <p>Luftfeuchtigkeit: {{ entry["avg_humi"] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro CreateTable(data) %}
    <table class="messungen__table">
        <caption>Messungen für <span style="font-style: italic;">'{{ date }}'</span></caption>
        <thead id="messungen-table-heading">
            <th>Datum:</th>
            <th>Temperatur:</th>
            <th class="ellipsis">Luftfeuchtigkeit:</th>
            <th>Luftdruck:</th>
            <th>Helligkeit:</th>
        </thead>
        <tbody>
            {% for entry in data %}
                {{ TableRow(entry) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% extends "base/base.html" %}
{% from "components/inputs/TimeSelect.html" import select %}
{% from "svgs/diagramme.html" import diagrammIcon %}
{% block title %}| Messungen {% endblock title %}
{% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/graph.css')}}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/info-popup.css')}}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/messungen.css')}}"
    />
{% endblock styles %}
{% block titlebarHeading %}Messungen{% endblock titlebarHeading %}

{% block content %}
    <div class="messungs__container">
        {% if entry_data and date %}
            {% if type == "content-table" %}
                {{ CreateTable(entry_data) }}
            {% elif type == "content-entry" %}
                {{ SingleEntry(date, entry_data[0], entry_gas[0]) }}
                {% if graph %}
                    <!-- <img style="width: 100%;max-width:500px" src="data:image/svg;base64,{{ graph }}"> -->
                {% endif %}

            {% endif %}
        {% else %}
            <h1>Keine Daten vorhanden!</h1>
        {% endif %}
    </div>
{% endblock content %}

{% block code %}
    {% if type == "content-table" %}
        <script>
            const tableHeading = document.querySelector("#messungen-table-heading")
            const observer = new IntersectionObserver(
                ([e]) => e.target.classList.toggle("sticking", e.intersectionRatio < 1),
                { threshold: [1] }
            )
            observer.observe(tableHeading)
        </script>
    {% endif %}
    <!-- <script src={{ url_for('static', filename='js/build/dashboard.chart.js') }}></script> -->
{% endblock code %}