[Unit]
Description=Wettereinheit Python Service
After=network.target
 
[Service]
User=<user>
Group=www-data
WorkingDirectory=/home/Wetterstation/Wettereinheit
Environment="PATH=/home/Wetterstation/venv/bin"
ExecStart=/home/Wetterstation/venv/bin/python main.py

[Install]
WantedBy=multi-user.target