[Unit]
Description=Wriezen Gymnasium Wetterstation Server
After=network.target

[Service]
User=<user>
Group=www-data
WorkingDirectory=/home/<project>
Environment="PATH=/home/<project>/venv/bin"
ExecStart=/home/<project>/venv/bin/gunicorn --workers 3 --bind unix:<project>.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target