[Unit]
Description=Wriezen Gymnasium Wetterstation Server
After=network.target

[Service]
User=<user>
Group=www-data
WorkingDirectory=/home/<user>/<project>
Enviroment="PATH=/home/<user>/<project>/venv/bin"
ExecStart=/home/<user>/<project>/venv/bin/gunicorn --workers 3 --bind unix:<project>.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target