{% macro graph_pm() %}
    <!-- Particulate matter -->
    <div class="graph-container graph-pm">
        <div class="graph-header">
          <h2>Particulate matter:</h2>
          <div class="graph-header-readings">
            <div>
              <span class="color-pmColor10">▣ PM<sub>1.0</sub></span>
              <span id="pm10">-</span>μg/m<sup>3</sup>
            </div>
            <div>
              <span class="color-pmColor25">▣ PM<sub>2.5</sub></span>
              <span id="pm25">-</span>μg/m<sup>3</sup>
            </div>
            <div>
              <span class="color-pmColor100">▣ PM<sub>10.0</sub></span>
              <span id="pm100">-</span>μg/m<sup>3</sup>
            </div>
          </div>
        </div>

        <div class="graph-chart">
          <canvas id="graphChartPmInput" class="loading-spinner"></canvas>
        </div>
    </div>
{% endmacro %}