{% macro menu() %}
    <div class="app__navbar-menu" id="app-container-menu">
        <div class="navbar__link-container">
            <a class="navbar__link" href="/wetter" title="Zu den Wetterdaten">
                Wetter
            </a>
        </div>
    </div>
{% endmacro %}

{% macro menuButtonSvg() %}
    <svg class="hamburger" id="hamburger" viewBox="0 0 100 80">
        <rect class="navbar__hamburger-layer" y="0%" rx="5"></rect>
        <rect class="navbar__hamburger-layer" y="50%" rx="5"></rect>
        <rect class="navbar__hamburger-layer" y="100%" rx="5"></rect>
    </svg>
{% endmacro %}
<nav class="navbar" id="app-navbar">
    <!-- Title / logo -->
    <a class="navbar__left-wrapper" href="/">
        <div class="navbar__logo-img">
            <img src="{{url_for("static", filename="images/logo-wriezen-edited.png")}}"/>
        </div>
        <h1 >Wetterstation</h1>
    </a>
        
    <div class="navbar__right-wrapper">
        <!-- Mobile menu -->
        <button
            type="button"
            id="menu-hamburger"
            class="navbar__menu-hamburger"
            aria-label="Main menu"
        >   
            {{ menuButtonSvg() }}
        </button>

        {{ menu() }}

    </div>
</nav>