{% macro menu() %}
    <div class="app__navbar-menu" id="app-menu">
        <div class="navbar__link-container">
            <a class="navbar__link" href="/" title="Zurück zur Startseite">
                <img src="{{url_for("static", filename="images/icons/home.svg")}}"/>
                <span>Startseite</span>
            </a>
            <a class="navbar__link" href="/wetter" title="Zu den Wetterdaten">
                <img src="{{url_for("static", filename="images/icons/cloud.svg")}}"/>
                <span>Wetter</span>
            </a>
            <a class="navbar__link settings__link" href="/einstellungen" title="Zu den Einstellungen">
                <span>Einstellungen</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro menuButtonSvg() %}
    <svg class="hamburger" viewBox="0 0 100 80">
        <rect class="navbar__hamburger-layer" y="0%"></rect>
        <rect class="navbar__hamburger-layer" y="50%"></rect>
        <rect class="navbar__hamburger-layer" y="100%"></rect>
    </svg>
{% endmacro %}

{% macro navbar() %}
    <nav class="navbar" id="app-navbar">
        <!-- Title / logo -->
        <div class="navbar__left-wrapper">
            <div class="navbar__logo-img">
                <img src="{{url_for("static", filename="images/logo-wriezen-edited.png")}}"/>
            </div>
            <h1>Wetterstation</h1>
        </div>
        
        <div class="navbar__right-wrapper">
            <!-- Mobile menu -->
            <button
                type="button"
                id="menu-hamburger"
                class="navbar__menu-hamburger"
                aria-label="Main menu"
            >
                {{ menuButtonSvg() }}
            </button>

            {{ menu() }}

        </div>
    </nav>
{% endmacro %}