{% macro sidebarLink(content, link, icon) %}
    <a
        class="sidebar__link disable-select"
        href={{ link }}
    >
        <div class="sidebar__icon flex-center">
            {% if icon %}
                {{ icon() }}
            {% endif %}
        </div>
        <p>{{ content }}</p>

    </a>
{% endmacro %}

{% from "svgs/home.html" import home as HomeIcon %}
{% from "svgs/live.html" import liveIcon %}
{% from "svgs/barChart.html" import barChartIcon %}
{% from "svgs/square-chart.html" import squareChartIcon %}
{% from "svgs/search.html" import searchIcon %}
{% from "svgs/arrowLeft.html" import arrowLeft %}
{% from "svgs/home.html" import homeIcon %}
{% from "svgs/list.html" import listIcon %}
{% from "components/inputs/themeToggle.html" import themeToggle %}

{% macro sidebar(active_link) %}
    <aside
        class="sidebar"
        x-data="{ open: false }"
        x-bind:class="open ? 'active' : ''"
    >
        <button
            class="toggle"
            x-on:click="open=!open"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
            >
                <path
                    d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                />
            </svg>
        </button>
        <nav>
            {{ sidebarLink("Startseite", "/", HomeIcon) }}
            {{ sidebarLink("Dashboard", "/dashboard", barChartIcon) }}
            {{ sidebarLink("Messungen", "/messungen", listIcon) }}
        </nav>
    </aside>
{% endmacro %}