* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #05121B;
    overflow: hidden;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    position: relative;
}
.svg-listener-rect {
    opacity: 0;
}
.dashboard__graph {
    color: rgb(241, 241, 241);
    background-color: #1B2831;
    border-radius: 5px;
    position: relative;
    box-shadow: inset 0px 0px 3px grey;
}
.tooltip {
    height: 50px;
    /* box-shadow: 0px 0px 4px rgb(101, 101, 101); */
    padding: 0.5rem 1rem;
    transition:
        top 0.1s linear,
        left 0.1s linear;
    background-color: rgba(0, 0, 0, 0.816);
    box-shadow: inset 0px 0px 5px rgb(106, 106, 106);
    color: rgb(255, 255, 255);
    position: absolute;
    pointer-events: none;
    transform-origin: center center;
}
.graph__circle {
    transition:
        top 0.1s linear,
        left 0.1s linear;
}
.graph__grid-line {
    stroke: rgba(255, 255, 255, 0.193);
}