<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-wriezen.png') }}"/>
    <meta name="keywords" content="Enviro+, EnviroPlus, RaspberryPi" />
    <meta name="description" content="Web interface for Enviro+ sensor board plugged into a Raspberry Pi"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#b0b0b0" />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/index.css') }}
        media="all"
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/navbar.css') }}
        media="all"
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/classColors.css') }}
        media="all"
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/normalize.css') }}
        media="all"
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/main.css') }}
        media="all"
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/timeRange.css') }}
        media="all"
    />

    {% block styles %}{% endblock %}
    <title>Wetterstation | {% block title %}{% endblock %}</title>
</head>
<body
    id="body"
    data-hasGasSensor="{{ gas_sensor }}"
    data-hasParticulateSensor="{{ particulate_sensor }}"
    data-hasFanGPIO="{{ fan_gpio }}"
>   

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src={{ url_for('static', filename='js/components/menu.js') }}></script>
    <script src={{ url_for('static', filename='js/theme/temp-theme.js') }}></script>
    
    {% block code %}{% endblock %}
</body>
</html>