{% extends "base.html" %}
{% from './components/navbar.html' import navbar %}

{% from './components/graphs/graph_gas.html' import graph_gas %}
{% from './components/graphs/graph_humi.html' import graph_humi %}
{% from './components/graphs/graph_lux.html' import graph_lux %}
{% from './components/graphs/graph_noise.html' import graph_noise %}
{% from './components/graphs/graph_pm.html' import graph_pm %}
{% from './components/graphs/graph_pres.html' import graph_pres %}
{% from './components/graphs/graph_temp.html' import graph_temp %}

{% from './components/inputs/TimeSelect.html' import Select %}
{% from './components/inputs/timeRange.html' import timeRange %}

{% block title %}Daten{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}" media="all"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" media="all"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" media="all"/>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/select.css') }}"
    media="all"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/timeRange.css') }}"
    media="all"
  />
{% endblock %}
{% block content %}

  {{ navbar() }}

  <!-- Main content -->
  <div class="app__dashboard-container">
    <div class="app__dashboard-control-container">
      {{ Select() }}
      {{ timeRange() }}
    </div>
    <div class="graphs-container">
      
      <div class="app__dashboard-first-container">
        {{ graph_temp() }}
        {{ graph_humi() }}
        {{ graph_lux() }}
        {{ graph_noise() }}
      </div>

    </div>
  </div>
{% endblock %}  

<!-- Javascript -->
{% block code %}
  <script src={{ url_for('static', filename='js/chartjs/chart.min.js') }}></script>
  <script src={{ url_for('static', filename='js/chartjs/chartjs-adapter-date-fns.bundle.min.js')}}></script>
  <script src={{ url_for('static', filename='js/components/select.js') }}></script>
  <script src={{ url_for('static', filename='js/components/timeRange.js') }}></script>
  <script src={{url_for('static', filename='js/chart-test.js')}}></script>
  <script src={{ url_for('static', filename='js/main.js') }}></script>
{% endblock %}
