.chart__container {
    /* max-width: 40rem; */

    width: 100%;
    height: 25rem;
    position: relative;
    background-color: var(--chart-bg-clr);
    border: 1px solid lightgray;
    border-radius: 5px;
    
    display: grid;
    grid-template-rows: auto 1fr;
}

.chart__container .chart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Prevent overflow */
}

.chart__container .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(187, 187, 187, 0.242);
    border: none;
    padding: 1rem 1rem 0.3rem 23px;
}

.chart__container .header h1 {
    font-size: 1.2rem;
    position: relative;
   /*  padding: 0.8rem 0.5rem 0.3rem 23px; */
}

.chart__container .header h1 span {
    left: 105%;
    bottom: 50%;
    position: absolute;
    font-size: 0.8rem;
    width: 5rem;
}

.chart__container svg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.svg-rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip-line {
    stroke-opacity: 0.5;
    transition: 0.3s ease;
}

.svg-listener-rect {
    opacity: 0;
}

.chart-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.7rem 1rem;
    transition:
        top 0.1s linear,
        left 0.1s linear;
    background-color: rgba(0, 0, 0, 0.816);
    color: rgb(255, 255, 255);
    position: absolute;
    pointer-events: none;
    transform-origin: center center;
    border-radius: 5px;
    overflow: hidden;
}

.chart-tooltip p {
    width: 100%;
    font-size: 0.8rem;
}

.chart__circle {
    transition:
        top 0.1s linear,
        left 0.1s linear;
}

.chart__grid-line {
    stroke: black;
    stroke-width: 0.2;
}

.chart-header-temperature {
    color: #ff8080;
    color: #df2f34;
}

.chart-header-humidity {
    color: #0177c0;
}

.chart-header-particles {
    color: #0083e0;
    color: #0099c8;
    color: #09bff7;
    color: #ad9c70;
}