/* Class colors */
.color-white {
    color: var(--color-white);
}
.color-black {
    color: var(--color-black);
}
.color-red {
    color: var(--color-red);
}
.color-blue {
    color: var(--color-blue);
}
.color-green {
    color: var(--color-green);
}
.color-yellow {
    color: var(--color-yellow);
}
.color-noise-high {
    color: var(--color-noise-high);
}
.color-noise-mid {
    color: var(--color-noise-mid);
}
.color-noise-low {
    color: var(--color-noise-low);
}
.color-noise-amp {
    color: var(--color-noise-amp);
}
.color-olive {
    color: var(--color-olive);
}
.color-violet {
    color: var(--color-violet);
}
.color-turquoise {
    color: var(--color-turquoise);
}
.color-pmColor100 {
    color: var(--color-dust100);
}
.color-pmColor25 {
    color: var(--color-dust25);
}
.color-pmColor10 {
    color: var(--color-dust10);
}