.content {
    overflow-y: auto;
    width: 100%;
    position: relative;
    height: calc(100vh - var(--toggle-button-size));
}

.content-top {
    background-color: var(--secondary-clr);
    box-shadow: var(--default-box-shadow);
    border-bottom: var(--default-border);
    padding: var(--default-padding);

    width: 100%;
    display: flex;
    align-items: center;
}

.content-bottom {
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}