.dashboard__graphs {
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: auto;
    display: grid;
    max-width: 90rem;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
    .dashboard__graphs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }   
}