.graph__container {
    width: 100%;
    height: 25rem;
    position: relative;
    /* max-width: 40rem; */
    background-color: var(--graph-bg-clr);
    /* box-shadow: var(--test-box-shadow); */
    border: 1px solid lightgray;
    border-radius: 5px;
    
    display: grid;
    grid-template-rows: auto 1fr;
}

.graph__container .graph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Prevent overflow */
}

.graph__container .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(187, 187, 187, 0.242);
    border: none;
}

.graph__container .header h1 {
    font-size: 1.2rem;
    position: relative;
    padding: 0.8rem 0.5rem 0.3rem 23px;
}

.graph__container .header h1 span {
    left: 100%;
    position: absolute;
    font-size: 0.8rem;
    width: 2rem;
}

.graph__container svg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.svg-rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip-line {
    stroke-opacity: 0.5;
    transition: 0.3s ease;
}

.dark-theme .graph__grid-line {
    stroke: white;
    stroke-width: 0.2;
}

.light-theme .graph__grid-line {
    stroke: black;
    stroke-width: 0.2;
}

.svg-listener-rect {
    opacity: 0;
}

.graph-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 0 1rem;
    transition:
        top 0.1s linear,
        left 0.1s linear;
    background-color: rgba(0, 0, 0, 0.816);
    color: rgb(255, 255, 255);
    position: absolute;
    pointer-events: none;
    transform-origin: center center;
    border-radius: 5px;
    overflow: hidden;
}

.graph-tooltip p {
    width: 100%;
    font-size: 0.8rem;
}

.graph__circle {
    transition:
        top 0.1s linear,
        left 0.1s linear;
}

.graph__grid-line {
    stroke: rgba(255, 255, 255, 0.193);
}

/*
GRAPH HEADER THEMES
*/

/*
temp: { 
    color: "#ff8080", // #df2f34
    dots: "#f00", //#ff0000
    axis: {
    color: "white",
},
},
humi: {
    color: "#09bff7",
    dots: "#00f", //#09a4f7
    axis: {
    color: "grey",
},
}
*/

.graph-header-temperature {
    color: #ff8080;
    color: #df2f34;
}

.graph-header-humidity {
    color: #09bff7;
    color: #0177c0;
}