:root {
    /* CSS variables */
    --navbar-height: 4rem;
    --default-padding: 0.5rem;
    --top-height: 4rem;

    --toggle-button-size: 43px;
    --toggle-button-current-size: var(--toggle-button-size);
    --test-box-shadow: inset 0px 0px 5px #cfcfcfb0;
    --content-height: calc(100vh - var(--toggle-button-size));
}

.light-theme {
    --primary-clr: #ececec;
    --secondary-clr: #ffffff;
    --primary-text-clr: #000000;
    --secondary-text-clr: #999999;
    --shadow-clr: #3d4b4f00;
    --accent-clr: #80808023;
    --highlight-clr: #0080ff;
    
    
    --theme-icon-clr: #1c243d;
    --gradient: transparent;
    --default-box-shadow: inset 0px 0px 4px grey;
    --default-border: none;
    --chart-bg-clr: white;
    --icon-color: rgb(0, 0, 0);
    --sidebar-bg-clr: rgb(255, 255, 255);
    
    color-scheme: light;
}

.dark-theme {
    --primary-clr: #121212;
    --secondary-clr: #1E1E1E;
    --primary-text-clr: white;
    --secondary-text-clr: #999999;
    --shadow-clr: rgba(61, 75, 79, 0);
    --accent-clr: rgba(128, 128, 128, 0.137);
    --highlight-clr: rgb(0, 128, 255);
    
    --theme-icon-clr: rgb(234, 255, 0);
    --gradient: linear-gradient(90deg, #456fe8, #19b0ec);
    --default-border: 1px solid rgba(128, 128, 128, 0.385);
    --default-box-shadow: none;
    --sidebar-bg-clr: rgb(23, 23, 23);
    --icon-color: rgb(240, 240, 240);
    --chart-bg-clr: black;

    color-scheme: dark;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    height: auto;
    font-family: Arial, Helvetica, Sans-Serif;
    color: var(--primary-text-clr);
    background-color: var(--secondary-clr);
}

#root {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--primary-clr);
}

@media screen and (min-width: 1000px) {
    #root {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    :root {
        --toggle-button-current-size: 0;
    }
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spinner {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner svg circle {
    transform-origin: center center;
}

.spinner.animate svg circle {
    opacity: 1;
    animation: spinnerSpin 1s ease infinite;
}

.spinner.hide svg circle {
    animation: none;
    opacity: 0;
}

/* .dark-theme #spinner svg {
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.light-theme #spinner svg {
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
} */

@keyframes spinnerSpin {
    100% {
        transform: rotate(360deg);
    }
}