/* CSS variables */
:root {

  /* variables */
  --navbar-height: 5rem;
}
.light-theme {
  /* LIGHT THEME */
  --primary-clr: rgb(236, 236, 236);
  --secondary-clr: #ffffff;
  --primary-text-clr: rgb(0, 0, 0);
  --secondary-text-clr: #999999;
  --shadow-clr: rgba(61, 75, 79, 0);
  --accent-clr: rgba(128, 128, 128, 0.137);
  --highlight-clr: rgb(0, 128, 255);
  
  --theme-icon-clr: rgb(28, 36, 61);
  --gradient: transparent;
  --default-box-shadow: inset 0px 0px 4px grey;
  --default-border: none;
}
.dark-theme {
  /* DARK THEME */
  --primary-clr: #000000;
  --secondary-clr: #080808;
  --primary-text-clr: white;
  --secondary-text-clr: #999999;
  --shadow-clr: rgba(61, 75, 79, 0);
  --accent-clr: rgba(128, 128, 128, 0.137);
  --highlight-clr: rgb(0, 128, 255);
  
  --theme-icon-clr: rgb(234, 255, 0);
  --gradient: linear-gradient(90deg, #456fe8, #19b0ec);
  --default-border: 1px solid rgba(128, 128, 128, 0.385);
  --default-box-shadow: none;
  
 /*  --primary-clr: #05121B;
  --secondary-clr: #1B2831; */
}
.blue-theme {

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: auto;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  color: var(--primary-text-clr);
  background: var(--color-gray-lighter);
}
#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: calc(100vh - var(--navbar-height));
  margin-top: var(--navbar-height) !important;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
/* a11y */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}