/* CSS variables */
:root {
  /* DARK THEME */
  --primary-clr: #040404;
  --secondary-clr: #171717;
  --primary-text-clr: white;
  --secondary-text-clr: #999999;
  --shadow-clr: rgba(61, 75, 79, 0);

  --accent-clr: rgba(128, 128, 128, 0.137);

  /* COLORS */
  --color-white: #fff;
  --color-black: #14161b;
  --color-gray-lighter: #eee;
  --color-gray-light: #ccc;
  --color-gray: #999;
  --color-gray-dark: #505050;
  --color-gray-darker: #242424;
  --color-red: #df2f34;
  --color-blue: #0177c0;
  --color-green: #568211;
  --color-yellow: #f5b60f;
  --color-noise-high: #f5710f;
  --color-noise-mid: #c43200;
  --color-noise-low: #763200;
  --color-noise-amp: #a07600;
  --color-olive: #808000;
  --color-violet: #771e9b;
  --color-turquoise: #40826c;
  --color-dust100: #57473a;
  --color-dust25: #715f54;
  --color-dust10: #8c796f;

  /* variables */
  --navbar-height: 5rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: auto;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  color: var(--color-black);
  background: var(--color-gray-lighter);
}
#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: calc(100vh - var(--navbar-height));
  margin-top: var(--navbar-height) !important;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
/* a11y */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}