.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.messungs-container {
    height: var(--content-height);
    overflow-y: auto;
}

table.messungen-table {
    box-shadow: 1px 1px 3px rgb(187, 187, 187);
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: white;
    margin: auto;
    table-layout: fixed;
    max-width: 57rem;
}

caption {
    background-color: #e5e5e5;
    border: 1px solid #c4c4c4;
    padding: 0.5rem 0;
}

table.messungen-table thead {
    position: sticky;
    top: -1px;
    padding-top: 1px;
}
table.messungen-table thead.sticking {
    box-shadow: inset 0px 0px 3px rgb(97, 97, 97);
}

table.messungen-table th {
    text-align: start;
    background-color: #F4F4F4;
    font-weight: 500;
    padding: 1rem;
}

table tr {
    border-bottom: 1px solid rgb(199, 199, 199);
}

table tr:hover {
    background-color: #fcfcfc;
}

table td {
    padding: 1rem;
}

table tr td.date {
    width: 100%;
}