.sidebar {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    position: fixed;
    width: 20rem;
    z-index: 3;

    transition: width 0.5s ease, transform 0.5s ease;
    background-color: var(--sidebar-bg-clr);
    will-change: transform;
    box-shadow:
        var(--test-box-shadow),
        0px 0px 5px rgba(128, 128, 128, 0.502);
        
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: calc(100% - var(--toggle-button-size));
    }
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar__top-link {
    height: var(--toggle-button-size);

    width: 100%;
    display: flex;
    font-size: 1.2rem;
    padding-left: 1rem;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-clr);
}

.sidebar__top-link .icon {
    margin-right: 0.5rem;
}

.sidebar__top-link .icon svg {
    width: 1.4rem;
    height: 1.4rem;
}

/* CHILD ELEMENT/: CONTENT ASIDE sidenav */
.sidebar nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
}

.sidebar__link {
    display: flex;
    font-size: 1.2rem;
    font-size: 1.2rem;
    position: relative;
    align-items: center;
    padding: 1.2rem 1rem;
    text-decoration: none;
    will-change: background-color;
    color: var(--primary-text-clr);
    transition: 0.2s ease;
}

.sidebar__link p {
    transform: translateY(2px);
}

.sidebar__link .sidebar__icon {
    margin-right: 0.5rem;
}

.sidebar__link svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
    fill: var(--icon-color);
    stroke: var(--icon-color);
}

.sidebar__link::before {
    top: 0;
    left: 0;
    width: 5px;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    background-color: #3a8fff;
}

.square-chart-icon {
    fill: none !important;
}

.light-theme .sidebar__link:hover {
    color: #3a8fff;
    background-color: #008cff21;
}

.light-theme .sidebar__link:hover::before {
    transform: translateX(0);
}

.light-theme .sidebar nav a:hover svg {
    fill: #3a8fff;
    stroke: #3a8fff;
}

.sidebar .toggle {
    box-shadow: var(--test-box-shadow);
    width: var(--toggle-button-size);
    height: var(--toggle-button-size);
    
    z-index: 2;
    left: 100%;
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: white;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 1000px) {
    .sidebar {
        position: static;
        transform: translateX(0);
        height: 100%;
    }

    .sidebar .toggle {
        display: none;
    }
}