.sidebar {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    position: fixed;
    width: 20rem;
    z-index: 3;

    transition: width 0.5s ease, transform 0.5s ease;
    background-color: var(--sidebar-bg-clr);
    will-change: contents;
    box-shadow:
        var(--test-box-shadow),
        0px 0px 5px rgba(128, 128, 128, 0.502);
}
.sidebar.active {
    transform: translateX(0);
}

.sidebar__top-link {
    height: var(--toggle-button-height);

    width: 100%;
    display: flex;
    font-size: 1.2rem;
    padding-left: 1rem;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-clr);
}
.sidebar__top-link .icon {
    margin-right: 0.5rem;
}
.sidebar__top-link .icon svg {
    width: 1.4rem;
    height: 1.4rem;
}

/* CHILD ELEMENT/: CONTENT ASIDE sidenav */
.sidebar nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
}

.sidebar__link {
    color: var(--primary-text-clr);
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.sidebar__link p {
    transform: translateY(2px);
}

.sidebar__link .sidebar__icon {
    margin-right: 0.5rem;
}

.sidebar__link svg {
    width: 1.4rem;
    height: 1.4rem;
}

.sidebar__link svg {
    fill: var(--icon-color);
    stroke: var(--icon-color);
}
.square-chart-icon {
    fill: none !important;
}

.light-theme .sidebar__link:hover {
    background-color: #368aff;
    color: white;
}
.light-theme .sidebar nav a:hover svg {
    fill: white;
    stroke: white;
}

.sidebar .toggle {
    left: 100%;
    border: none;
    cursor: pointer;
    width: var(--toggle-button-height);
    height: var(--toggle-button-height);
    z-index: 2;
    position: absolute;
    background-color: white;
    border-bottom-right-radius: 5px;
    box-shadow: var(--test-box-shadow);
}

@media (max-width: 600px) {
    .sidebar {
        width: calc(100% - var(--toggle-button-height))
    }
}