.app-title-bar {
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--toggle-button-size);
    margin-left: var(--toggle-button-current-size);
    width: calc(100% - var(--toggle-button-current-size));
    background-color: white;
    box-shadow: var(--test-box-shadow);
}

.app-title-bar .title {
    display:flex;
    width: 100%;
    height: 100%;
    position: sticky;
    align-items:center;
}

.app-title-bar .title h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-left:1rem;
    color: var(--highlight-clr);
}