[Unit]
Description=Gymnasium Wriezen Wetterstation Server
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=$HOME/Wetterstation/Server
Environment="PATH=$HOME/Wetterstation/venv/bin"
ExecStart=$HOME/Wetterstation/venv/bin/gunicorn -k eventlet \
    -w 1 \
    --bind unix:Wetterstation.sock \
    -m 007 wsgi:app \

[Install]
WantedBy=multi-user.target