[Unit]
Description=Wettereinheit Python Service
After=network.target
 
[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Wetterstation/Wettereinheit
Environment="PATH=/home/pi/Wetterstation/venv/bin"
ExecStart=/home/pi/Wetterstation/venv/bin/python main.py

[Install]
WantedBy=multi-user.target