[Unit]
Description=Wettereinheit Python Service
After=network.target
 
[Service]
User=pi
Group=www-data
WorkingDirectory=$HOME/Wetterstation/Wettereinheit
Environment="PATH=$HOME/Wetterstation/venv/bin"
ExecStart=$HOME/Wetterstation/venv/bin/python main.py

[Install]
WantedBy=multi-user.target