{% extends "base/dashboard_base.html" %}
{% from "components/sidebar.html" import sidebar %}
{% from "components/inputs/TimeSelect.html" import select %}
{% block styles %}
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/dashboard/select.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/graph.css')}}
    />
{% endblock styles %}
{% block content %}
<div class="app__dashboard-container">
    {{ sidebar(active_content) }}
    
    <div class="app__dashboard-content">
        {{ select() }}
        
        <div class="dashboard__graph-container" id="temp-container"></div>
        <div class="dashboard__graph-container" id="humi-container"></div>
    </div>
</div>
{% endblock content %}
{% block code %}

    <script src={{ url_for('static', filename='js/select.js') }}></script>

    <script src={{ url_for('static', filename='js/chart/lineChart.js') }}></script>
    <script src={{ url_for('static', filename='js/chart/config-builder.js') }}></script>
    <script src={{ url_for('static', filename='js/chart/chart-controller.js') }}></script>
    <script src={{ url_for('static', filename='js/chart/chart-main.js') }}></script>
    <!--  -->
{% endblock code %}