{% extends "base/dashboard.base.html" %}
{% from "components/sidebar.html" import sidebar %}
{% from "components/inputs/TimeSelect.html" import select %}
{% block styles %}
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/dashboard/select.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/graph.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/info-popup.css')}}
    />
{% endblock styles %}
{% block content %}
<div class="dashboard__container">
    {{ sidebar(active_content) }}
    <div class="dashboard__content">
        <div class="dashboard__content-top">
            {{ select() }}
        </div>
        <div class="dashboard__content-bottom" id="dashboard-right-bottom">
            <div class="graph__container" id="temp-container"></div>
            <div class="graph__container" id="humi-container"></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block code %}
    <script src={{ url_for('static', filename='js/build/dashboard.chart.js') }}></script>
{% endblock code %}