{% extends "base/dashboard_base.html" %}
{% from "components/sidebar.html" import sidebar %}
{% from "components/entrys.html" import entrys %}
{% from "components/current-readings.html" import currentReadings %}

{% block title %}Dashboard{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard/current-readings.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard/entrys.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard/main-graph.css') }}>
{% endblock styles %}
{% block content %}
    <div class="app__dashboard-container">
        {{ sidebar(active_content) }}
        <div class="app__dashboard-content">
            {{ currentReadings(last_entry) }}
            {{ entrys() }}
        </div>
    </div>
{% endblock content %}
{% block code %}
    <script src={{ url_for('static', filename='js/socket.js') }}></script>
    <script src={{ url_for('static', filename='js/utils/compress.js') }}></script>
    <script src={{ url_for('static', filename='js/chart/config-builder.js') }}></script>
    <script src={{ url_for('static', filename='js/dashboard/weather-diagramm.js') }}></script>
    <script src={{ url_for('static', filename='js/dashboard/main.js') }}></script>
    <script src={{ url_for('static', filename='js/dashboard/entrys.js') }}></script>
    <script src={{ url_for('static', filename='js/dashboard/current-readings.js') }}></script>

{% endblock code %}