[Unit]
Description=Wriezen Gymnasium Wetterstation Server
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Wetterstation/Server
Environment="PATH=/home/pi/Wetterstation/venv/bin"
ExecStart=/home/pi/Wetterstation/venv/bin/gunicorn -k gevent -w 1 --bind unix:Wetterstation.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target