[Unit]
Description=Wriezen Gymnasium Wetterstation Server
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/Wetterstation/Server
Environment="PATH=/home/Wetterstation/venv/bin"
ExecStart=ENV_FILE="../environments/.env" /home/Wetterstation/venv/bin/gunicorn --workers 2 --bind unix:Wetterstation.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target