[Unit]
Description=Wriezen Gymnasium Wetterstation Server
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/Wetterstation/Server
Environment="PATH=/home/Wetterstation/venv/bin"
ExecStart=ENV_FILE="../environments/.env" python wsgi.py

[Install]
WantedBy=multi-user.target