{% macro Select() %}
    <div class="app__time-select-container">
        <button id="time-select-button" class="app__time-select-btn">
            <img
                class="app__select-icon-time"
                src={{url_for("static", filename="images/icons/light-theme/time-range.svg")}}
            >
            <span id="time-select-text">1 Tag</span>
            <img
                id="select-arrow-icon"
                class="app__select-icon-arrow"
                src={{ url_for("static", filename="images/icons/arrow-down.svg") }}
            >
        </button>
        <div class="app__select-options-container">
            <button
                id="option-select-default"
                class="app__select-option"
                data-value="1d"
            >1 Tag</button>
            <button
                class="app__select-option"
                data-value="1w"
            >1 Woche</button>
            <button
                class="app__select-option"
                data-value="1m"
            >1 Monat</button>
            <button
                class="app__select-option"
                data-value="1j"
            >1 Jahr</button>
        </div>
    </div>
{% endmacro %}

{% macro navbar() %}
    <nav class="navbar" id="app__navbar">
        <!-- Title / logo -->
        <div class="navbar__left-wrapper">
            <div class="navbar__logo-img">
                <img src="{{url_for("static", filename="images/logo-wriezen-edited.png")}}"/>
            </div>
            <h1>Wetterstation</h1>
        </div>

        <div class="navbar__right-wrapper">
            <!-- Mobile menu -->
            <div class="container-menu-hamburger">
                <button
                    type="button"
                    id="menu-hamburger"
                    class="menu-hamburger"
                    aria-label="Main menu"
                >
                    <svg width="100%" height="100%" viewBox="0 0 100 100">
                        <path class="menu-main-hamburger menu-line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
                        <path class="menu-main-hamburger menu-line2" d="M 20,50 H 80" />
                        <path class="menu-main-hamburger menu-line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
                    </svg>
                </button>
            </div>
            
            <div class="container-info-time">
                <span id="time"></span>
            </div>
            <div id="container-menu-settings" class="container-menu-settings">
                <!-- Local time -->

                <div class="navbar__link-container">
                    <a class="navbar__link" href="/" title="Zurück zur Startseite">
                        <img src="{{url_for("static", filename="images/icons/home.svg")}}"/>
                        <span>Startseite</span>
                    </a>
                    <a class="navbar__link" href="/wetter" title="Zu den Wetterdaten">
                        <img src="{{url_for("static", filename="images/icons/cloud.svg")}}"/>
                        <span>Wetter</span>
                    </a>
                    <a class="navbar__link settings__link" href="/einstellungen" title="Zu den Einstellungen">
                        <span>Einstellungen</span>
                    </a>
                </div>

                <div class="app__settings-container">                    
                    <!-- Time range dropdown -->
                    {{ Select() }}
                </div>
            </div>
        </div>
    </nav>
{% endmacro %}