.app__dashboard-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-clr);
}
.app__dashboard-content {
    padding: 1rem;
    overflow-y: auto;
}
