.app__dashboard-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-clr);
}
.app__dashboard-content {
    display: grid;
    grid-template-rows: var(--top-height) 1fr;
    overflow-y: hidden;
}
.dashboard__content-top {
    background-color: var(--secondary-clr);
    box-shadow: var(--default-box-shadow);
    border-bottom: var(--default-border);
    padding: var(--default-padding);

    width: 100%;
    display: flex;
    align-items: center;
}
.dashboard__content-bottom {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
    position: relative;
}