.app__time-select-container {
    width: 100%;
    max-width: 12rem;
    height: 3rem;
    margin: 1rem 0 0 0;
    position: relative;
    background: transparent;
    z-index: 1;
}
.app__select-icon-arrow,
.app__select-icon-time {
    width: 1.5rem;
    aspect-ratio: 1;
    pointer-events: none;
    transition: 0.3s ease;
    top: 50%;
    translate: 0 -50%;
    position: absolute;
}
.app__select-icon-arrow {
    right: 1rem;
}
.app__select-icon-time {
    left: 1rem;
}
.app__time-select-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    background: var(--secondary-clr);
    border: 1px solid rgb(73, 73, 73);
    color: white;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 800;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}
.active-select-button {
    border-radius: 5px 5px 0 0;
}
.app__time-select-btn span {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app__select-options-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0fr;
    top: 100%;
    border: 1px solid rgb(73, 73, 73);
    background: var(--secondary-clr);
    padding: 1rem;
    width: 100%;
    opacity: 0;
    height: auto;
    border-radius: 0 0 1rem 1rem;
    transition: 0.3s ease;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}
.active-select-container {
    opacity: 1;
    pointer-events: all;
}
.app__select-option {
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    background-color: transparent;
    color: white;
}
.app__select-option:hover {
    background: rgba(128, 128, 128, 0.162);
}
.app__time-select-desc {
    width: 100%;
    padding: 0;
    margin: 0;
    color: grey;
    font-weight: 400;
    padding: 0.2rem 0 0 0;
}
@keyframes slideIn {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}

.app__time-select-container img {
    filter: invert(360);
}