{% macro sidebarLink(content, link, icon_src, active_link) %}
    <a
        class="dashboard__sidebar-link disable-select"
        href={{ '/dashboard?ansicht=' + link }}
    >
        <div class="sidebar__img-container">
            {% if icon_src %}
                <img src="{{ url_for('static', filename='assets/icons/%s' % icon_src) }}">
            {% endif %}
        </div>
        <p>{{ content }}</p>

        {% if active_link == link %}
            <div id="active-sidebar-indicator"></div>
        {% endif %}
    </a>
{% endmacro %}

{% from "components/sidebar-menu.html" import sidebarMenu %}
{% macro sidebar(active_link) %}
    <div class="app__dashboard-sidebar">
        <div class="app__dashboard-top">
            <a class="app__dashboard-link" href="/dashboard">
                <img src={{ url_for('static', filename='assets/icons/home.svg') }}>
            </a>
            <p class="app__dashboard-heading">
                Wetterstation
            </p>
            <div class="dashboard__top-divider"></div>
        </div>
        <div class="app__dashboard-bottom">
            {{ sidebarLink("Suchen", "suchen", "search.svg", active_link) }}
            {{ sidebarLink("Live Daten", "live-daten", "live.svg", active_link) }}
            {{ sidebarLink("Diagramme", "diagramme", "chart.svg", active_link) }}
        </div>
    </div>
{% endmacro %}