{% macro sidebarLink(content, link, icon, active_link) %}
    <a
        class="dashboard__sidebar-link disable-select"
        href={{ '/dashboard?ansicht=' + link }}
    >
        <div class="sidebar__img-container">
            <!-- {% if icon_src %}
                <img src="{{ url_for('static', filename='assets/icons/%s' % icon_src) }}">
            {% endif %} -->
            {{ icon }}
        </div>
        <p>{{ content }}</p>

        {% if active_link == link %}
            <div id="active-sidebar-indicator"></div>
        {% endif %}
    </a>
{% endmacro %}

{% from "components/sidebar-menu.html" import sidebarMenu %}
{% from "components/inputs/themeToggle.html" import themeToggle %}

{% from "svgs/live.html" import liveIcon %}
{% from "svgs/diagramme.html" import diagrammIcon %}
{% from "svgs/search.html" import searchIcon %}

{% macro sidebar(active_link) %}
    <div class="app__dashboard-sidebar">
        <div class="app__dashboard-top">
            <a class="app__dashboard-link" href="/dashboard">
                <img src={{ url_for('static', filename='assets/icons/home.svg') }}>
            </a>
            <p class="app__dashboard-heading">
                Wetterstation
            </p>
            <div class="dashboard__top-divider"></div>
        </div>
        <div class="app__dashboard-bottom">
            {{ sidebarLink("Suchen", "suchen", searchIcon(), active_link) }}
            {{ sidebarLink("Live Daten", "live-daten", liveIcon(), active_link) }}
            {{ sidebarLink("Diagramme", "diagramme", diagrammIcon(), active_link) }}
        </div>
        {{ themeToggle() }}
    </div>
{% endmacro %}