{% from "components/sidebar.html" import sidebar %}
{% from "components/flashed-messages.html" import FlashedMessages %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/fish.png') }}"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title-bar.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashed-message.css') }}" media="all" />
    
    <style>
        .logout-link {
            text-decoration: none;
            color: black;
            transition: 0.3s ease;
            margin: 0 1rem 0 0;
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        .logout-link svg {
            width: 1.4rem;
            height: 1.4rem;
        }

        .logout-link:hover {
            color: var(--highlight-clr)
        }
    </style>
    {% block styles %}{% endblock styles %}
    <title>Wetterstation {% block title %}{% endblock title %}</title>

</head>
<body id="body" class="light-theme">

    <div id="root">
        {{ sidebar() }}
        <div class="app-title-bar">
            <div class="title">
                {% block titlebarIcon %}
                {% endblock titlebarIcon %}
                <h1>
                {% block titlebarHeading %}
                {% endblock titlebarHeading %}
                </h1>
            </div>
            <div>
                {% block titlebarNav %}
                {% endblock titlebarNav %}
                {% if session["is_admin"] %}
                <a class="logout-link" href="/admin/logout">
                    <span>Abmelden</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% block flashedMessages %}
                <div class="flashed-messages default">
                    {{ FlashedMessages() }}
                </div>
            {% endblock flashedMessages %}
            {% block content %}{% endblock content %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/libs/alpine.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashed-messages.js') }}"></script>
    <script>
        customElements.define("info-popup", InfoPopup)
    </script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>