{% extends "base/dashboard_base.html" %}
{% from "components/sidebar.html" import sidebar %}
{% block styles %}
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/sidebar.css')}}
    />
    <link
        rel="stylesheet"
        href={{ url_for('static', filename='css/graph.css')}}
    />
{% endblock styles %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="app__dashboard-container">
    {{ sidebar() }}
    <div class="app__dashboard-content">
        <div class="dashboard__graph-container" id="temp-container"></div>
        <div class="dashboard__graph-container" id="humi-container"></div>
    </div>
</div>
{% endblock content %}
{% block code %}
    <script src={{ url_for('static', filename='js/chart/config.js') }}></script>
    <script src={{ url_for('static', filename='js/chart/lineChart.js') }}></script>
    <script src={{ url_for('static', filename='js/test.js') }}></script>
{% endblock code %}