{% macro graph_noise() %}
    <!-- Noise -->
    <div class="graph-container graph-noise">
        <div class="graph-header">
        <h2>Noise:</h2>
        <div class="graph-header-readings">
          <div>
            <span class="color-noise-high">▣ High</span>
              <span id="high">-</span>&nbsp;u
            </div>
            <div>
              <span class="color-noise-mid">▣ Mid</span>
              <span id="mid">-</span>&nbsp;u
            </div>
            <div>
              <span class="color-noise-low">▣ Low</span>
              <span id="low">-</span>&nbsp;u
            </div>
            <div>
              <span class="color-noise-amp">▣ Amp</span>
              <span id="amp">-</span>&nbsp;u
            </div>              
          </div>
        </div>

        <div class="graph-chart">
          <canvas id="graphChartNoiseInput" class="loading-spinner"></canvas>
        </div>
    </div>
{% endmacro %}