{% macro graph_gas() %}
    <!-- Gas -->
    <div class="graph-container graph-gas">
        <div class="graph-header">
          <h2>Gase:</h2>
          <div class="graph-header-readings">
            <div>
              <span class="color-olive">▣ NH<sub>3</sub></span>
              <span id="nh3">-</span>&nbsp;kΩ
            </div>
            <div>
              <span class="color-violet">▣ Reducing</span>
              <span id="red">-</span>&nbsp;kΩ
            </div>
            <div>
              <span class="color-turquoise">▣ Oxidising</span>
              <span id="oxi">-</span>&nbsp;kΩ
            </div>
          </div>
        </div>

        <div class="graph-chart">
          <canvas id="graphChartGasInput" class="loading-spinner"></canvas>
        </div>
    </div>
{% endmacro %}