<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={{ url_for('static', filename='assets/images/logo-wriezen.png') }}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }} media="all" />
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard.css') }} media="all">
    
    {% block styles %}{% endblock styles %}
    <title>Wetterstation | {% block title %}{% endblock title%}</title>
</head>
<body id="body">
    {% block content %}{% endblock content %}

    <script src="https://d3js.org/d3.v7.min.js"></script>
    {% block code %}{% endblock code %}
</body>
</html>