<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={{ url_for('static', filename='assets/images/logo-wriezen.png') }}/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }} media="all" />
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard/dashboard.css') }} media="all">
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard/sidebar.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/themeToggle.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard/menu.css')}} />
    
    {% block styles %}{% endblock styles %}
    <title>Wetterstation | Dashboard</title>
</head>
<body id="body" class="dark-theme">
    {% block content %}{% endblock content %}

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script
        src="https://cdn.socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"
    ></script>
    
    <script src={{ url_for('static', filename='js/theme.js') }}></script>
    <script src={{ url_for('static', filename='js/chart/local-d3.js') }}></script>
    {% block code %}{% endblock code %}
</body>
</html>