.app__range-container {
    height: 100%;
    display: flex;
}
.app__range-container label {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    background: rgb(232, 232, 232);
    box-shadow: inset 0px 0px 3px grey;
    font-size: 1.2rem;
    cursor: pointer;
}
.app__range-container .border-none {
    border-radius: 0;
}
.app__range-container input {
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0;

    box-shadow: inset 0px 0px 3px grey;
}
.range__submit {
    border: none;
    width: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background: rgb(0, 157, 255);
    border-radius: 0px 5px 5px 0px;
}